{% extends 'front/base.html.twig' %}
{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
  {{ parent() }}

    <link rel="stylesheet" href="{{ asset('https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css') }}" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
    <style>
               #calendrier{
            width: 90%;
            margin: auto;
            background-color: #fff;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
        }
        .fc-header-toolbar {
            background-color: #ffa726;
            color: #fff;
            
            border-radius: 0;
            box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
        }
        .fc-button-primary {
            background-color: #ffa726;
            border-color: #ffa726;
            color: #fff;
        }
        .fc-button-primary:hover {
            background-color:orange;
            border-color: #ffa726;
            color: #ffa726;
        }
        .fc-event-main {
           
            color: #333;
            border-color: #f5f5f5;
            border-radius: 0;
            box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
        }
        .fc-event:hover .fc-event-main {
          
            border-color: #ffa726;
            color: #fff;
        }
        .fc-event-title {
            font-weight: bold;
        }
        .fc-time {
            font-size: 0.8rem;
            font-style: italic;
        }
        .event-details {
            font-size: 0.9rem;
            line-height: 1.4;
            margin-top: 0.4rem;
    
          font-weight: bold;        }
        
        .event-details div:not(.salle) {
            font-style: italic;
        }
        .salle {
            font-style: italic;
            font-size: 0.9rem;
            position: absolute;
            
            right: 0;
        }
    </style>
{% endblock %}

{% block body %}
    <section class="breadcrumb-section set-bg" data-setbg="front/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Our Team</h2>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <span>Our team</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Our Planning</span>
                            <h2>YOUR ARE WELCOME</h2>
                        </div>
                        <a href="{{ path('app_main_controller') }}" class="primary-btn btn-normal appoinment-btn">Calendar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="pricing-section  spad">
        
         
               
 <!--  background-color: #FFB155; -->

  
    <div id="calendrier">
    </div>
       
    </section>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js') }}"></script>

 {{ parent() }}

<script> 
    window.onload = () => { 
        let calendarElt = document.querySelector("#calendrier")
            let today = new Date() // get today's date

        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
                allDaySlot: false,

validRange: {
        start: today
      },
           //  defaultView: 'month',
            locale: 'fr',
            headerToolbar: {
               //     plugins : 'dayGrid','timeGrid','list',          
                start: 'prev,next today',
                center: 'title',
               end: 'dayGridMonth,timeGridWeek',
                    allDay:false,
                
            },
            
             buttonText: {
                        today: 'Aujourd\'hui',
                        month: 'Mois',
                        week: 'Semaine',
                        list: 'Liste'
                    },
              
              events: {{ data|raw }},  
                slotMinTime: "06:00:00",
                slotMaxTime: "23:00:00",                 
            eventResizableFromStart: true,
            allDay:false,
            editable:false,
          eventContent: function(info) {
    let description = info.event.extendedProps.description;
    let coach = info.event.extendedProps.coach;
    let salle = info.event.extendedProps.salle;
    let cours = info.event.extendedProps.cours;

    return {
        html: `
            <div class="event-title">${info.timeText} - ${info.event.title}</div>
            <div class="event-details">
                <div>coach: ${coach}</div>
                <div>cours: ${cours}</div>
                <div class="salle">${salle}</div>
            </div>
        `
    };
}


        })
      calendar.on('eventChange', (e) => {
            let url = `/api/${e.event.id}/edit`

            let donnees = {
                
                "title": e.event.title,
                "description": e.event.extendedProps.description,
                "start": e.event.start,
                "end": e.event.end,
                "backgroundColor": e.event.backgroundColor,
                "borderColor": e.event.borderColor,
                "textColor": e.event.textColor,
                  "salle": e.event.salle.nom,
                 "conge": e.event.conge.nom,
                                  "Coach": e.event.Coach.nom,


            }
                
            console.log(donnees)
            let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))
      //   console.log(donnees)

        })

        calendar.render()
    }
  
</script>

{% endblock %}
