
{% extends 'front/base.html.twig' %}
{% block title %}Calendrier{% endblock %}

{% block stylesheets %}
  {{ parent() }}

    <link rel="stylesheet" href="{{ asset('https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.css') }}" integrity="sha256-uq9PNlMzB+1h01Ij9cx7zeE2OR2pLAfRw3uUUOOPKdA=" crossorigin="anonymous">
 <style>
        #calendrier{
            width: 90%;
            margin: auto;
           background-color: #FFB155;



        }
   
  .salle {
    position: absolute;
    top: 200;
    right: 0;
    font-style: italic;
}
         body {
     background-color: #FFB155;
    }
 
    </style>
    
{% endblock %}
     {% block body %}
 
    <section class="hero-section ">
    
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="front/img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Shape your body</span>
                                <h1>Be <strong>strong</strong> traning hard</h1>
                                <a href="#" class="primary-btn">Get info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <!-- Hero Section End -->



    </div>
    <div id="calendrier">
    </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('https://cdn.jsdelivr.net/npm/fullcalendar@5.3.0/main.min.js') }}"></script>

 {{ parent() }}

<script> 
    window.onload = () => { 
        let calendarElt = document.querySelector("#calendrier")
            let today = new Date() // get today's date

        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
validRange: {
        start: today
      },
           //  defaultView: 'month',
            locale: 'fr',
            headerToolbar: {
               //     plugins : 'dayGrid','timeGrid','list',          
                start: 'prev,next today',
                center: 'title',
               end: 'dayGridMonth,timeGridWeek',
                
            },
            
             buttonText: {
                        today: 'Aujourd\'hui',
                        month: 'Mois',
                        week: 'Semaine',
                        list: 'Liste'
                    },
              
              events: {{ data|raw }},  
                slotMinTime: "06:00:00",
                slotMaxTime: "23:00:00",                 
            eventResizableFromStart: true,
            editable:false,
          eventContent: function(info) {
    let description = info.event.extendedProps.description;
    let coach = info.event.extendedProps.coach;
    let salle = info.event.extendedProps.salle;
    let cours = info.event.extendedProps.cours;

    return {
        html: `
            <div class="event-title">${info.timeText} - ${info.event.title}</div>
            <div class="event-details">
                <div>coach: ${coach}</div>
                <div>cours: ${cours}</div>
                <div class="salle">${salle}</div>
            </div>
        `
    };
}


        })
      calendar.on('eventChange', (e) => {
            let url = `/api/${e.event.id}/edit`

            let donnees = {
                
                "title": e.event.title,
                "description": e.event.extendedProps.description,
                "start": e.event.start,
                "end": e.event.end,
                "backgroundColor": e.event.backgroundColor,
                "borderColor": e.event.borderColor,
                "textColor": e.event.textColor,
                  "salle": e.event.salle.nom,
                 "conge": e.event.conge.nom,
                                  "Coach": e.event.Coach.nom,


            }
                
            console.log(donnees)
            let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))
      //   console.log(donnees)

        })

        calendar.render()
    }
  
</script>

{% endblock %}
