 {% extends 'front/base.html.twig' %} 


{% block title %}Reclamation index{% endblock %}

{% block body %}
<!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="{{asset('front/img/hero/hero-1.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Shape your body</span>
                                <h1>Be <strong>strong</strong> traning hard</h1>
                                <a href="#" class="primary-btn">Get info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="{{asset('front/img/hero/hero-2.jpg')}}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>Shape your body</span>
                                <h1>Be <strong>strong</strong> traning hard</h1>
                                <a href="#" class="primary-btn">Get info</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Hero Section End -->
    <h1>Reclamation index</h1>
        <div id="divs">
            <input class="form-control" type="text" id="search" placeholder="🔍">
            <a style="color:#FF0000;" class="tg-btn" href="" id="idup">UP ⬆️</a>
            <a style="color:#25DD28;" class="tg-btn" href="" id="iddown">DOWN ⬇️</a>
        </div>

    <table id="t" class="table">

        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody id="all">
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.Nom }}</td>
                <td>{{ reclamation.Prenom }}</td>
                <td>{{ reclamation.Email }}</td>
                <td>{{ reclamation.Message }}</td>
                
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}" class="fa fa-eye btn btn-primary btn-lg">show</a>
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}" class="fa fa-edit btn btn-success btn-lg">edit</a>
                    <a href="{{ path('app_reclamation_pdf', {'id': reclamation.id}) }}" class="fa fa-edit btn btn-info btn-lg">PDF</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        <tbody id="search">
        </tbody>  

    </table>

    <a href="{{ path('app_reclamation_new') }}"class="primary-btn btn-lg">Create new</a>
    <!-- Search Form -->


        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
    <script>
        $( document ).ready(function() {

            /*begin rechercher avancee multicritéres selon sujet et staus*/
            $("#divs").keyup(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $("#search").val();
                if(value.length >= 2 || value.length == 0  )
                {
                    //    alert(value);
                    /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                    $.ajax({
                        /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                        url : "{{ path('search_Reclamation') }}",
                        /* La méthode utilisée pour transférer les données est GET */
                        type : 'GET',
                        /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                        data: {
                            'searchValue' : value,
                        },
                        /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                        success : function(retour){
                            if(retour){
                                $('#t tbody#search').empty();
                                $.each(JSON.parse(retour), function(i, obj) {
                                    $('#t tbody#all').hide();
                                    $('#t tbody#search').append('' +
                                        '<tr>' +
                                        '   <td> '+obj.id +'  </td>' +
                                        '   <td> '+obj.Nom+'  </td>' +
                                        '   <td> '+obj.Prenom+'  </td>' +
                                        '   <td> '+obj.Email+' </td>' +
                                        '   <td>'+obj.Message+'</td>' +
                                        '   <td>' +
                                        '       <a  href="afficher/'+obj.id +'" class="fa fa-eye btn btn-primary btn-lg">show</a>' +
                                        '       <a  href="edit/'+obj.id +'" class="fa fa-edit btn btn-success btn-lg">edit</a>' +
                                        '       <a  href="pdf/'+obj.id +'" class="fa fa-edit btn btn-info btn-lg">PDF</a>' +
                                        '   </td>' +
                                        '</tr>');

                                });
                            }
                            else
                            {

                                $('#t tbody#all').show();
                                $('#t tbody#search').empty();
                                $('#t tbody#search').fadeIn('fast');

                            }
                        },
                    });
                    return false;
                }
            });
            /*end rechercher avancee multicritéres selon sujet et staus*/


            /*begin trie up selon id*/
            $("#idup").click(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $("#search").val();
                var value3 ="ASC";

                //    alert(value);
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('search_Reclamation') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value,
                        'orderid': value3
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append(
                                        '<tr>' +
                                        '   <td> '+obj.id +'  </td>' +
                                        '   <td> '+obj.Nom+'  </td>' +
                                        '   <td> '+obj.Prenom+'  </td>' +
                                        '   <td> '+obj.Email+' </td>' +
                                        '   <td>'+obj.Message+'</td>' +
                                        '   <td>' +
                                        '       <a  href="afficher/'+obj.id +'" class="fa fa-eye btn btn-primary btn-lg">show</a>' +
                                        '       <a  href="edit/'+obj.id +'" class="fa fa-edit btn btn-success btn-lg">edit</a>' +
                                        '       <a  href="pdf/'+obj.id +'" class="fa fa-edit btn btn-info btn-lg">PDF</a>' +
                                        '   </td>' +
                                        '</tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;

            });
            /*end trie up selon id*/

            /*begin trie down selon id*/
            $("#iddown").click(function(e){
                /* La variable value va prendre la valeur insérer dans le champ de texte afin d’effectuer la recherche */
                var value = $("#search").val();
                var value3 ="DESC";

                //    alert(value);
                /* Ajax est lancé lors du remplissage du champ texte dont l’id est « search » pour faire la recherche */
                $.ajax({
                    /* l’url est une chaine de caractères contenant l’adresse où la requête est envoyée */
                    url : "{{ path('search_Reclamation') }}",
                    /* La méthode utilisée pour transférer les données est GET */
                    type : 'GET',
                    /*Ici search value va prendre la chaine entrée par un utilisateur dans la zone de recherche et sera placée après l’url */
                    data: {
                        'searchValue' : value,
                        'orderid': value3
                    },
                    /*Cette fonction permet de vider le contenu du tableau pour recevoir le nouveau contenu*/
                    success : function(retour){
                        if(retour){
                            $('#t tbody#search').empty();
                            $.each(JSON.parse(retour), function(i, obj) {
                                $('#t tbody#all').hide();
                                $('#t tbody#search').append(
                                        '<tr>' +
                                        '   <td> '+obj.id +'  </td>' +
                                        '   <td> '+obj.Nom+'  </td>' +
                                        '   <td> '+obj.Prenom+'  </td>' +
                                        '   <td> '+obj.Email+' </td>' +
                                        '   <td>'+obj.Message+'</td>' +
                                        '   <td>' +
                                        '       <a  href="afficher/'+obj.id +'" class="fa fa-eye btn btn-primary btn-lg">show</a>' +
                                        '       <a  href="edit/'+obj.id +'" class="fa fa-edit btn btn-success btn-lg">edit</a>' +
                                        '       <a  href="pdf/'+obj.id +'" class="fa fa-edit btn btn-info btn-lg">PDF</a>' +
                                        '   </td>' +
                                        '</tr>');
                            });
                        }
                        else
                        {
                            $('#t tbody#all').show();
                            $('#t tbody#search').empty();
                            $('#t tbody#search').fadeIn('fast');
                        }
                    },
                });
                return false;

            });
            /*end trie down selon id*/
        });
    </script>
              
{% endblock %}


               