{% extends 'front/base.html.twig' %}
{% block body %}
    <div style="padding: 5rem; background: black" class="mx-auto"></div>
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <h2 class="col-md-12 text-center mt-5">Forgot password</h2>
                    <h4 class="col-md-12 mb-3 font-weight-light mt-3">Please type your email</h4>
                    {{ form_start(form, {'attr':{'novalidate':'novalidate'}}) }}
                    {% for flash_message in app.session.flashBag.get('error') %}
                        <div class="alert alert-warning col-md-12 form-group" role="alert">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    <div class="col-md-12 form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email, {
                            'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="col-md-12 form-group">
                        <button class="btn w-100 btn-dark my-3">{{ button_label|default('Suivant') }}</button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}
