
{% extends "admin/base.html.twig" %}
{% block body %}
   <div class="container-fluid">
        
          <!-- Page Heading -->
          {# <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> #}

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h4 class="m-0 font-weight-bold text-primary">Course list</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">
    <h1><a class="btn btn-primary" href="{{path('ajouterc')}}" > Add </a></h1>

    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Desription</th>
                 <th>Name coach</th>
                <th>Image</th>
                              <th>Show</th>
                                       <th>Update</th>
                                  <th>Delete</th>



            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.nom }}</td>
                <td>{{ cour.description }}</td>
                 <td>  {{ cour.coach.nom }} </td>
                  <td> <img style="width:60px;height:60px;" src="{{ asset('uploads/' ~ cour.image) }}" alt="{{ cour.image }}"/> </td>

              
              <td>                 <a class="btn btn-danger" href="{{ path('show', {'id': cour.id}) }}" >show</a> 
                                       
</td>
    <td>       <a class="btn btn-success" href="{{ path('modifierc', {'id': cour.id}) }}" > edit </a> </td>  
     <td>      <a class="btn btn-warning" href="{{ path('supprimercc', {'id': cour.id}) }}" >delete</a> 
 </td>
             
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
 </div>
            </div>
          </div>

        </div>

{% endblock %}
