
{% extends "admin/base.html.twig" %}
{% block body %}

    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Desription</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.id }}</td>
                <td>{{ cour.nom }}</td>
                <td>{{ cour.desription }}</td>
                  <td> <img style="width:60px;height:60px;" src="{{ asset('uploads/' ~ cour.image) }}" alt="{{ cour.image }}"/> </td>

                <td>
                    <a href="{{ path('app_cours_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cours_new') }}">Create new</a>

{% endblock %}
