{% extends "admin/base.html.twig" %}
{% block body %}
   <div class="container-fluid">
        
          <!-- Page Heading -->
          {# <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> #}

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h4 class="m-0 font-weight-bold text-primary">Ajouter un package</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">


 
{{form_start(package,{'attr': {'novalidate': 'novalidate'}} )}}
<table>
<tr>

<td>  {{ form_label(package.choices,"choices") }} 
</td> 
<td> {{ form_widget(package.choices)}} 
 </td> 
<td>  {{ form_errors(package.choices) }} 
</td> 

</tr> 

</tr>
</table>
 {{ form_widget(package.save)}} 
{{form_end(package)}}

    </div>
  </div>
  </div>
   </div>
              </div>
            </div>
          </div>
        </div>
  {% endblock %}