{% extends 'front/base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div style="padding: 5rem; background: black" class="mx-auto"></div>
    <section class="hero-section">
        <div class="hs-item set-bg" data-setbg="front/img/hero/hero-2.jpg">
            <div class="container p-5">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text ml-5">
                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                {% if app.user %}
                                    <div class="mb-3">
                                        You are logged in as {{ app.user.userIdentifier }}, <a
                                                href="{{ path('app_logout') }}">Logout</a>
                                    </div>
                                {% endif %}

                                <h1 class="h1 mb-3 font-weight-normal text-white">Connexion</h1>
                                <label for="inputEmail" class="text-white">Email</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control" autocomplete="email" required autofocus>
                                <label for="inputPassword" class="text-white mt-3">Password</label>
                                <input type="password" name="password" id="inputPassword" class="form-control"
                                       autocomplete="current-password" required>
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >

                                {#
                                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                See https://symfony.com/doc/current/security/remember_me.html

                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> Remember me
                                    </label>
                                </div>
                                #}

                                <button class="btn btn-lg btn-light mt-5" type="submit">
                                    Connexion
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
