{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="container mt-5">
        <h1>Utilisateur</h1>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Numero</th>
                <td>{{ user.numero }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ user.photo }}</td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <a href="{{ path('app_user_admin_index') }}" class="col-md-2 btn btn-primary">
            <i class="fa fa-backward"></i>
                &nbsp&nbsp&nbspRevenir a la liste
            </a>
            <form method="post" action="{{ path('app_user_admin_delete', {'id': user.id}) }}"
                  onsubmit="return confirm('Are you sure you want to delete this item?');"
                  class="col-md-3">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                <button class="btn btn-danger">Supprimer</button>
            </form>
        </div>
    </div>
{% endblock %}
