<!-- Header Section Begin -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="./index.html">
                        <img style="width:60px;height:60px;" src="{{ asset('front/img/logo.png') }}" alt="">
                    </a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="nav-menu">
                    <ul>
                        <li><a href="{{ path('app_home') }}">Home</a></li>
                        <li><a href="{{ path('app_about') }}">About Us</a></li>
                        <li><a href="{{ path('app_cours') }}">Classes</a></li>
                        <li><a href="./services.html">Services</a></li>
                        <li><a href="{{ path('app_coach') }}">Our Team</a></li>
                        <li><a href="{{ path('listblog') }}">Our blog</a></li>
                        <li><a href="./contact.html">Contact</a></li>
                        {% if app.user %}<li><a href="{{ path('app_profile') }}">Profile</a></li>{% endif %}
                        {% if not app.user %}<li><a href="{{ path('app_register') }}">Inscription</a></li>{% endif %}
                        {% if not app.user %}<li><a href="{{ path('app_login') }}">Connexion</a></li>{% endif %}
                        {% if app.user %}<li><a href="{{ path('app_logout') }}">Deconnexion</a></li>{% endif %}
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="top-option">
                    <div class="to-search search-switch">
                        <i class="fa fa-search"></i>
                    </div>
                    <div class="to-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="canvas-open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>
<!-- Header End -->


</div>
