



    <h1>Member index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Surname</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Telnumber</th>
                <th>Pack</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for member in members %}
            <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.Surname }}</td>
                <td>{{ member.Name }}</td>
                <td>{{ member.Age }}</td>
                <td>{{ member.Email }}</td>
                <td>{{ member.Telnumber }}</td>
                <td>{{ member.Pack }}</td>
                <td>
                
                    <td><a class="btn btn-success" href="{{path('modifierS',{ id:member.id}      ) }}" > modifier </a></td>
         <td> <a class="btn btn-danger" href="{{path('supprimerS',{ id:member.id}      ) }} " >supprimer</a>  <td>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_member_new') }}">Create new</a>
