

      {% extends "admin/base.html.twig" %}
{% block body %}
   <div class="container-fluid">
        
          <!-- Page Heading -->
          {# <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> #}

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h4 class="m-0 font-weight-bold text-primary">Add course</h4>
            </div>
            <div class="card-body">
              <div class="table-responsive">


 
{{form_start(produit,{'attr': {'novalidate': 'novalidate'}} )}}
<table>
<td>  {{ form_label(produit.nom,"nom produit") }} 
</td> 
<td> {{ form_widget(produit.nom)}} 
 </td> 
 <tr>
 
<td> <th> {{ form_errors(produit.nom) }} </th>
</td> 


</tr> 
<tr>

<td>  {{ form_label(produit.description,"description") }} 
</td> 
<td> {{ form_widget(produit.description)}} 
 </td> 
 <tr>
<td> <th> {{ form_errors(produit.description) }} </th>
</td> 

<tr>
<tr>

<td>  {{ form_label(produit.prix,"prix produit") }} 
</td> 
<td> {{ form_widget(produit.prix)}} 
 </td> 
 <tr>
<td> <th> {{ form_errors(produit.prix) }} </th>
</td> 

<tr>
<td>  {{ form_label(produit.image,"Image") }} 
</td> 
<td> {{ form_widget(produit.image)}} 
 </td> 
<td>  {{ form_errors(produit.image) }} 
</td>
</tr>
</tr>
</table>
 {{ form_widget(produit.save)}} 
{{form_end(produit)}}

    </div>
  </div>
  </div>
   </div>
              </div>
            </div>
          </div>
        </div>
  {% endblock %}
