{% extends "front/base.html.twig" %}


{% block body %}

    <!-- Header End -->

    <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="{{ asset('uploads/' ~ blog.image) }}">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3>{{ blog.nom }}</h3>
                        
                        <ul>
                            <li>by Admin</li>
                            <li>{{ blog.createdAt |date('Y-m-d')}}</li>
                            
                        </ul>
                    </div>
                </div> 
            
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            <p>{{ blog.moredescreption }}</p>
                        </div>
                        <div class="blog-details-title">
                             <p> {{ blog.description }} </p>
                        </div>
                       
                        <div class="blog-details-quote">
                            <div class="quote-icon">
                                <img src="/front/img/blog/details/quote-left.png" alt="">
                            </div>
                            <h5>{{ blog.slogan }}</h5>
                            
                        </div>
                        <div class="blog-details-title">
                            <p>{{ blog.moredescreption }}</p>
                        </div>
                        <div class="blog-details-title">
                             <p> {{ blog.description }} </p>
                        </div>
                        
                        <div class="blog-details-author">
                           
                            <div class="ba-text">
                                <h2 style="color: white;">LEAVE A COMMENT</h2>
                               
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="comment-option">
                                    <h5 class="co-title">Comment</h5>
                                    <div class="co-item">
                                      {% for commentaire in blog.commentaire %}
                                      
                                    
                                        <div class="co-pic">
                                      
                                          {% if commentaire.user %}
                                          <img src="{{ asset('uploads/' ~ commentaire.user.photo) }}" alt="{{ commentaire.user.prenom }}">
                                          <h5>{{ commentaire.user.prenom }}</h5>
                                           {% endif %}
                                         </div>
                                      
                                        <div class="co-text" style="color:white;">
                                            {{commentaire.comment}}
                                        </div>
                                        
                                        
                                       
                  <div class="like-dislike-container" id="comment-{{ commentaire.id }}">

    <a href="{{ path('comment_like', {'id': commentaire.id}) }}" class="{% if commentLike is defined and commentLike.isLiked %}like-button liked{% else %}like-button not-liked{% endif %}" id="like-{{ commentaire.id }}"><i class="fa fa-thumbs-up"></i></a>
    <a href="{{ path('comment_dislike', {'id': commentaire.id}) }}" class="dislike-button{% if commentLike is defined and not commentLike.isLiked %} disliked{% else %} not-disliked{% endif %}" id="dislike-{{ commentaire.id }}"><i class="fa fa-thumbs-down"></i></a>
   <a href="{{ path('delete_comment', {'id': commentaire.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?');" style="color:Bleu; margin-left: 10px;">Delete</a>

</div>

                    <br>
                                     
                                           
                                        {% endfor %}
                                        
                                    </div>
                                     
                                   
                                    
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="leave-comment">
                                      <div class="col-xs2 col-sm3" id="ajout-commentaire">
				
				                          {{ form_start(commentForm) }}
				                          {{ form_row(commentForm.comment) }}
                                           <p>Message</p>
                                                <div id="editor"></div>
				                                      {{ form_end(commentForm) }}
			                            </div>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                         <a style="color:OrangeRed;" href="https://www.facebook.com/sharer/sharer.php?u=www.infantrygym.com/blog/{{blog.id}}" target="_blank">
                                         Partager sur Facebook
                                           </a>
                                           </div>
                                           <br>
                                           {# les archives des comentaires #}
                                           <center>
                                            <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                                             <a href="#popup" style="color:OrangeRed;"> Historique des commentaires sur ce blog </a>
                                            </div>
                                           <div id="popup" class="overlay">
                                             <div class="popup">
                                              <h2> Historique des mes commentaires  </h2>
                                              <a href="#" class="cross">&times;</a>
                                              {# houni chnkteb #}
                                                     <div class="col-lg-6">
                                <div class="comment-option">
                                    <h5 class="co-title">Comment</h5>
                                    <div class="co-item">
                                    
                                      {% for commentaire in blog.commentaire %}
                                      
                                        <p style="color:black;">
                                            {{commentaire.comment}}
                                        </p>
                                       
                                        {% endfor %}
                                        
                                    </div>
                                     
                                   
                                    
                                </div>
                            </div>
                                              </div>

                                           </div>
                                           </center>
                                        
		                             </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      

    </section>
    




</body>


{% endblock %}

{% block javascript %}
   <script>
   //mtaa button delete
   
   //hhhhhhhhhhhhhhhhhhhhhhhhh
   $(document).ready(function() {
    $(".like-button").click(function(event) {
        event.preventDefault();
        var url = $(this).attr("href");
        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            success: function(response) {
                if (response.success) {
                    var commentId = response.commentId;
                    $("#like-" + commentId).toggleClass("liked");
                    $("#dislike-" + commentId).removeClass("disliked");
                }
            }
        });
    });
    $(".dislike-button").click(function(event) {
        event.preventDefault();
        var url = $(this).attr("href");
        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            success: function(response) {
                if (response.success) {
                    var commentId = response.commentId;
                    $("#dislike-" + commentId).toggleClass("disliked");
                    $("#like-" + commentId).removeClass("liked");
                }
            }
        });
    });
});
    function confirmDelete() {
    if(confirm("Êtes-vous sûr de vouloir supprimer ce commentaire ?")) {
      // Si l'utilisateur clique sur OK, le commentaire est supprimé
      window.location.href = "{{ path('delete_comment', {'id': commentaire.id}) }}";
    }
  }


  </script>
  
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
  
  <style>
.like-button{
color: gray;
}

.dislike-button{
color: gray;
}

.liked {
  color: green;
}

.disliked {
  color: red;
}
   
.button:hover {

	background: #FF8519;
	color :#333;
}
.overlay{

    position: fixed;
    top: 0;
    bottom: 0; 
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.7);
    transition: opacity .4s;
    visibility:hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
    margin: 6rem auto;
    padding: 2rem;
    background:#fff;
    border-radius: 5px;
    width: 40%;
    position: relative ;
    transition: all 0.45 ease-in-out;
}
.popup .cross {
    margin: 6rem auto;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    background:#fff;
    text-decoration: none;
    color: #333;
    
}
.popup .cross:hover {
    color: Orange;

}
.clicked-comment {
    background-color: #f5f5f5;
}
  
  </style>
{% endblock %}