
{% extends "front/base.html.twig" %}


{% block body %}

    <!-- Header End -->

    <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="/front/img/blog/details/details-hero.jpg">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3>{{ blog.nom }}</h3>
                        <ul>
                            <li>by Admin</li>
                            <li>{{ blog.createdAt |date('Y-m-d')}}</li>
                            
                        </ul>
                    </div>
                </div> 
            
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua accusantium doloremque laudantium. Excepteur
                                sint occaecat cupidatat non proident sculpa .</p>
                            <p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit
                                amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
                                magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                                aliquip ex ea commodo consequat anim id est laborum.</p>
                            <h5>You Can Buy For Less Than A College Degree</h5>
                            <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur officia deserunt mollit.
                            </p>
                        </div>
                        <div class="blog-details-pic">
                            <div class="blog-details-pic-item">
                                <img src="/front/img/blog/details/details-1.jpg" alt="">
                            </div>
                            <div class="blog-details-pic-item">
                                <img src="/front/img/blog/details/details-2.jpg" alt="">
                            </div>
                        </div>
                        <div class="blog-details-desc">
                            <p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            </p>
                        </div>
                        <div class="blog-details-quote">
                            <div class="quote-icon">
                                <img src="/front/img/blog/details/quote-left.png" alt="">
                            </div>
                            <h5>The whole family of tiny legumes, whether red, green, yellow, or black, offers so many
                                possibilities to create an exciting lunch.</h5>
                            <span>MEIKE PETERS</span>
                        </div>
                        <div class="blog-details-more-desc">
                            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                                dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
                                in. . Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                            <p>laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure Lorem ipsum dolor sit
                                amet, consectetur adipisicing elit, sed eiusmod tempor incididunt laboris nisi ut
                                aliquip commodo consequat. Class aptent taciti sociosqu ad litora torquent per conubia
                                nostra, per inceptos himenaeos. Mauris vel magna ex. Integer gravida tincidunt accumsan.
                                Vestibulum nulla mauris, condimentum id felis ac, volutpat volutpat mi qui dolorem.</p>
                        </div>
                        
                        <div class="blog-details-author">
                           
                            <div class="ba-text">
                                <h2 style="color: white;">LEAVE A COMMENT</h2>
                                {# <div class="bp-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-google-plus"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                                </div> #}
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="comment-option">
                                    <h5 class="co-title">Comment</h5>
                                    <div class="co-item">
                                   
                                    
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                       {% for commentaire in blog.commentaire %}

                                        <div class="co-pic">
                                            {# <img src="/front/img/blog/details/comment-1.jpg" alt=""> #}
                                            <h5>Brandon Kelley</h5>
                                            
                                         <p>{{commentaire.comment}}</p>
                                        </div>
                                                                                {% endfor %}

                                        <div class="co-text">
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="leave-comment">
                                      <div class="col-xs2 col-sm3" id="ajout-commentaire">
				<h2>Ajouter un commentaire</h2>
				{{ form_start(commentForm) }}
				    {{ form_row(commentForm.comment) }}
                    <p>Message</p>
                    <div id="editor"></div>
				{{ form_end(commentForm) }}
			</div>
		</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>333 Middle Winchendon Rd, Rindge,<br/> NH 03461</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>125-711-811</li>
                            <li>125-668-886</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>Support.gymcenter@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->




</body>

{% endblock %}