{% extends "front/base.html.twig" %}

{% block body %}
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/front/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Our Blog</h2>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <a href="#">Pages</a>
                            <span>Blog</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Blog Section Begin -->
    <section class="blog-section spad">
   
        <div class="container">
<form method="GET" action="{{ path('listblog') }}" class="mb-4">
  <div class="input-group">
    <input type="text" name="blog" class="form-control" placeholder="Search with blog name ... " value="{{ app.request.get('blog') }}" 
      style="background-color: #f8f9fa; color: #6c757d;" 
      onfocus="this.style.backgroundColor='#fff'; this.style.color='#212529';" 
      onblur="this.style.backgroundColor='#f8f9fa'; this.style.color='#6c757d';">
    <button type="submit" class="btn btn-outline-secondary">
      <i class="fa fa-search"></i>
    </button>
  </div>
</form>
        
         {# <div class="text-center">
            <a href="{{ path('event_order_by_date_desc') }}" class="btn btn-primary">Order By Date (Descending)</a>
        </div> #}
       <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        
         <form method="get" action="{{ path('listblog') }}" class="form-inline">
  <div class="form-check-inline mr-3">
  <input class="form-check-input" type="radio" name="sort" id="sortDesc" value="desc" {% if sort == 'desc' %}checked{% endif %}>
  <label class="form-check-label ml-1" for="sortDesc" style="color: #AD9F96;"><i class="fa fa-arrow-down"></i> Newest first</label>
</div>
<div class="form-check-inline mr-3">
  <input class="form-check-input" type="radio" name="sort" id="sortAsc" value="asc" {% if sort == 'asc' %}checked{% endif %}>
  <label class="form-check-label ml-1" for="sortAsc" style="color: #AD9F96;"><i class="fa fa-arrow-up"></i> Oldest first</label>
</div>
  
  <button type="submit" class="btn btn-light" style="color: #5F5A56;">Sort</button>
</form>
</div>
<br>
            <div class="row">
                <div class="col-lg-8 p-0">
                    {% for blog in blog %}
                        <div class="blog-item">
                            <div class="bi-pic">
                                <img style="width: 300px; height: 241px;" src="{{ asset('uploads/' ~ blog.image) }}" alt="{{ blog.image }}">
                            </div>
                            <div class="bi-text">
                                <h3 style="color: white;"><a style="color: white;" href="{{ path('detailsblog', { id: blog.id }) }}">{{ blog.nom }}</a></h3>
                                <ul>
                                    <li>by Admin</li>
                                    <li>{{ blog.createdAt|date('Y-m-d') }}</li>
                                </ul>
                                <p>{{ blog.description }}</p>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
         <a  href="{{ path('blog_pdf') }}" target="_blank" class="btn btn-light" style="color: #5F5A56;">Telecharger la blog en PDF</a>
         </div>
         <br>

    </section>
    
    <!-- Blog Section End -->
  
            
{% endblock %}
{% block stylesheet %}
<style>
.input-group input[type="text"] {
    background-color: #f2f2f2;
    color: #fff;
  }
  .input-group input[type="text"]::placeholder {
    color: #fff;
  }
</style>
{% endblock %}