
{% extends "admin/base.html.twig" %}
{% block body %}



<tr>

<td>  {{ form_label(blog.nom,"nom") }} 
</td> 
<td> {{ form_widget(blog.nom)}} 
 </td> 
<td>  {{ form_errors(blog.nom) }} 
</td> 

</tr> 
<tr>

<td>  {{ form_label(blog.description,"description") }} 
</td> 
<td> {{ form_widget(blog.description)}} 
 </td> 
<td>  {{ form_errors(blog.description) }} 
</td> 
<hr>
<td>  
        {{ form_row(blog.image) }}
</td> 
{# hello #}
</tr>
</table>
{{ form_widget(blog.save)}} 
{{form_end(blog)}}
              <hr>
                </div>
              </div>
            </div>
          </div>
        </div>








            
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
{# ya rabi#}
{% endblock %}