

{% extends "front/base.html.twig" %}
{% block body %}

    <!-- Class Details Section Begin -->
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="front/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Courses</h2>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <a href="#">Classes</a>
                            <span>Body building</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- Services Section Begin -->
    <section class="services-section spad">
        <div class="container">
            <div class="row">
            {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{ flashMessage }}</div>
{% endfor %}
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>What we do?</span>
                        <h2>PUSH YOUR LIMITS FORWARD</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                                         {% for cours in cours %}

                <div class="col-lg-3 order-lg-1 col-md-6 p-0">

                    <div class="ss-pic">
                        <img style="width:300x;height:290px;" src="{{ asset('uploads/' ~ cours.image) }}" alt="{{ cours.image }}">
                    </div>
   <div class="ss-text">
                        <h4>{{cours.nom}}</h4>
                        <p>{{cours.description}}</p>
                

                            <a href="{{path('showcr',{ id:cours.id })}}">Explore</a>
                 
{% if app.user %}
    <form action="{{ path('reserve_cours', {id: cours.id}) }}" method="post">
        <label for="nbPlaces">Nombre de places :</label>
        <input type="number" name="nbPlaces" id="nbPlaces" value="1" min="1" max="{{ cours.nbPlacesTotal }}">
        <button type="submit">Réserver</button>
    </form>
{% endif %}
     

                    </div>
                </div>

                <div class="col-lg-3 order-lg-2 col-md-6 p-0">
                 
                </div>
                                                {% endfor %}

              
                </div>


            </div>

        </div>
    </section>
    <!-- Services Section End -->

 <!-- Services Section End -->
  
     <!-- Services Section End -->
 <!-- Services Section End -->

{% endblock %}