
    {% extends 'front/base.html.twig' %} 

    {% block title %}New Reclamation{% endblock %}
    
    {% block body %}
     <!-- Hero Section Begin -->
        <section class="hero-section">
            <div class="hs-slider owl-carousel">
                <div class="hs-item set-bg" data-setbg="{{asset('front/img/hero/hero-1.jpg')}}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-6">
                                <div class="hi-text">
                                    <span>Shape your body</span>
                                    <h1>Be <strong>strong</strong> traning hard</h1>
                                    <a href="#" class="primary-btn">Get info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hs-item set-bg" data-setbg="{{asset('front/img/hero/hero-2.jpg')}}">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 offset-lg-6">
                                <div class="hi-text">
                                    <span>Shape your body</span>
                                    <h1>Be <strong>strong</strong> traning hard</h1>
                                    <a href="#" class="primary-btn">Get info</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Section End -->
    
    
    
    
    
        <!-- Breadcrumb Section End -->
    
        <!-- Contact Section Begin -->
        <section class="contact-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="section-title contact-title">
                            <span>Contact Us</span>
                            <h2>GET IN TOUCH</h2>
                        </div>
                        <div class="contact-widget">
                            <div class="cw-text">
                                <i class="fa fa-map-marker"></i>
                                <p>333 Middle Winchendon Rd, Rindge,<br/> NH 03461</p>
                            </div>
                            <div class="cw-text">
                                <i class="fa fa-mobile"></i>
                                <ul>
                                    <li>125-711-811</li>
                                    <li>125-668-886</li>
                                </ul>
                            </div>
                            <div class="cw-text email">
                                <i class="fa fa-envelope"></i>
                                <p>Support.gymcenter@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="leave-comment">
                            <style>
  h1 {
    color: white;
  }
</style>
                   <h1>Create new Reclamation</h1>
                        {{ form_start(reclamation,{'attr': {'novalidate': 'novalidate'}} )}}
                        <table>
                        <tr>
    
                 
<td style="color: white;">  {{ form_label(reclamation.Nom,"Nom") }} </td> 
<td style="color: white;"> {{ form_widget(reclamation.Nom)}} </td> 
<td style="color: white;"> {{ form_errors(reclamation.Nom) }} </td>
    
                        </tr> 
                        <tr>
    
                        
<td style="color: white;">  {{ form_label(reclamation.Prenom,"Prenom") }} </td> 
<td style="color: white;"> {{ form_widget(reclamation.Prenom)}} </td> 
<td style="color: white;"> {{ form_errors(reclamation.Prenom) }} </td>
                        </td> 
                        <tr>
                    
<td style="color: white;">  {{ form_label(reclamation.Email,"Email") }} </td> 
<td style="color: white;"> {{ form_widget(reclamation.Email)}} </td> 
<td style="color: white;"> {{ form_errors(reclamation.Email) }} </td>
                        </td>
                        <tr>
                        
<td style="color: white;">  {{ form_label(reclamation.Message,"Message") }} </td> 
<td style="color: white;"> {{ form_widget(reclamation.Message)}} </td> 
<td style="color: white;"> {{ form_errors(reclamation.Message) }} </td>
                        </td>
                        </tr>
                        </table>
                        <button class="btn btn-success" type="submit" >save </button>
                        <a href="{{ path('app_reclamation_index') }}" class="primary-btn btn-lg">back to list</a>
                        {{form_end(reclamation)}}
                        </div>
                    </div>
                </div>
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12087.069761554938!2d-74.2175599360452!3d40.767139456514954!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c254b5958982c3%3A0xb6ab3931055a2612!2sEast%20Orange%2C%20NJ%2C%20USA!5e0!3m2!1sen!2sbd!4v1581710470843!5m2!1sen!2sbd"
                        height="550" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </section>
        <!-- Contact Section End -->
    
        <!-- Get In Touch Section Begin -->
        <div class="gettouch-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="gt-text">
                            <i class="fa fa-map-marker"></i>
                            <p>333 Middle Winchendon Rd, Rindge,<br/> NH 03461</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="gt-text">
                            <i class="fa fa-mobile"></i>
                            <ul>
                                <li>125-711-811</li>
                                <li>125-668-886</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="gt-text email">
                            <i class="fa fa-envelope"></i>
                            <p>Support.gymcenter@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Get In Touch Section End -->
    
    
    
     
    
    
        
    {% endblock %}
    
   
